page-contact {
  ion-card {
    position: relative;
  }
  .col{
    .card-title {
      font-size: 2.0em;
      width: 100%;
    }
    .card-subtitle {
      font-size: 1.0em;
      width: 100%;
    }
  }
  .card{
    margin-left: 1.0em;
  }
  .times-info{
    font-size: 3.0em;
  }
  .color-tag{
    background-color: darkorange;
  }
}
